<h4 class="page-header">Cart Details</h4>
<div>

  <table class="table table-responsive" *ngIf="cartItems.length > 0;else cartEmtyContent">
    <thead>
      <th>Product Name</th>
      <th>Description</th>
      <th>Unit Price</th>
      <th>Units in Stock</th>
      <th>Total</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let cartItem of cartItems">
        <td>{{cartItem.product.productName}}</td>
        <td>{{cartItem.product.quantityPerUnit}}</td>
        <td>{{cartItem.product.unitPrice}}</td>
        <td>{{cartItem.quantity}}</td>
        <td>{{cartItem.quantity*cartItem.product.unitPrice}}</td>
        <td>
          <button class="btn btn-xs btn-danger" (click)="removeFromCart(cartItem.product)">Remove From Cart</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
<ng-template #cartEmtyContent>
  <div class="alert alert-info">
    Your cart is empty
  </div>
</ng-template>